<header>
  <nav class="navbar">
    <div class="logo">TravelTales</div>
    <ul class="nav-links">
      <li><a [routerLink]="'/home'" routerLinkActive="active">Home</a></li>
      <li><a [routerLink]="'/search'" routerLinkActive="active">Search</a></li>
      <li><a [routerLink]="'/login'" routerLinkActive="active">Login</a></li>
      <li><a [routerLink]="'/register'" routerLinkActive="active">Register</a></li>
      <li><a [routerLink]="'/profile'" routerLinkActive="active">Profile</a></li>
    </ul>
  </nav>
</header>
