<header>
    <nav class="navbar" *ngIf="authService.isAuthenticated()">
        <div class="logo">TravelTales</div>
        <ul class="nav-links">
            <li><a [routerLink]="'/home'" routerLinkActive="active">Home</a></li>
            <li><a [routerLink]="'/search'" routerLinkActive="active">Search</a></li>
            <li><a [routerLink]="'/country'" routerLinkActive="active">Country</a></li>
            <li><a [routerLink]="'/profile'" routerLinkActive="active">Profile</a></li>
            <li><a (click)="logout()" style="cursor: pointer;" routerLinkActive="active">Logout</a></li>
        </ul>
    </nav>
</header>
