<div>
    <div class="profile-header">
        <img src="assets/user.jpg" class="avatar" alt="User avatar" />
        <div class="profile-info">
            <h2>{{ user.username }}</h2>
            <p>{{ user.email }}</p>
            <p><strong>{{ posts.length }}</strong> posts</p>
        </div>
    </div>

    <div class="action-buttons">
        <button class="create-post-btn" routerLink="/create">Create New Post</button>

        <div class="delete-post-wrapper">
            <select [(ngModel)]="selectedPostId" class="post-select">
                <option value="">-- Select Post to Delete --</option>
                <option *ngFor="let post of posts" [value]="post.id">{{ post.title }}</option>
            </select>
            <button [disabled]="!selectedPostId" (click)="deletePost(+selectedPostId)" class="delete-btn">
                Delete Selected Post
            </button>
        </div>
    </div>

    <hr />

    <div *ngIf="posts.length > 0; else noPosts">
        <div class="post-item" *ngFor="let post of posts">
            <div class="post-meta">
                <ng-container *ngIf="editingPostId === post.id; else readMode">
                    <form (ngSubmit)="submitEdit(post.id)">
                        <input [(ngModel)]="editForm.title" name="title" required placeholder="Title" />
                        <textarea [(ngModel)]="editForm.content" name="content" required placeholder="Content"></textarea>
                        <input [(ngModel)]="editForm.country_name" name="country_name" required placeholder="Country" />
                        <input type="date" [(ngModel)]="editForm.visit_date" name="visit_date" required />

                        <button type="submit">Save</button>
                        <button type="button" (click)="cancelEdit()">Cancel</button>
                    </form>
                </ng-container>

                <ng-template #readMode>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    <small>Visited: {{ post.country_name }} on {{ post.visit_date }}</small>
                    <br />
                    <button (click)="startEdit(post)">Edit</button>
                </ng-template>
            </div>
        </div>
    </div>

    <ng-template #noPosts>
        <div class="no-posts-message">
            <p>This user hasn't posted anything yet.</p>
        </div>
    </ng-template>
</div>
